[submodule "external/bluerobotics_pressure"]
	path = external/bluerobotics_pressure
	url = https://github.com/GSO-soslab/bluerobotics_pressure
	branch = jazzy-devel
[submodule "external/power_monitor"]
	path = external/power_monitor
	url = https://github.com/GSO-soslab/power_monitor
	branch = jazzy-devel
[submodule "external/waterlinked_dvl"]
	path = external/waterlinked_dvl
	url = https://github.com/uri-ocean-robotics/waterlinked_dvl
	branch = jazzy-devel
[submodule "external/bluerobotics_ping360"]
	path = external/bluerobotics_ping360
	url = https://github.com/GSO-soslab/bluerobotics_ping360
	branch = jazzy-devel
