<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="alpha_rise"/>


    <node ns="$(arg robot_name)" name="$(arg robot_name)_gpio_manager_node" pkg="alpha_gpio_manager" type="gpio_manager_node" output="screen">
        <rosparam command="load" file="$(find alpha_gpio_manager)/config/gpio_manager.yaml"/>
       
    </node>

</launch>