<?xml version="1.0"?>

<launch>

  <arg name="config" default="$(find alpha_driver_uart)/config/config.yaml"/>

  <node pkg="alpha_driver_uart" type="alpha_driver_uart_node" 
        name="alpha_driver_uart_node" output="screen">

        <rosparam command="load" file="$(arg config)"/>

  </node>

</launch>
